**/.DS_Store
**/.vscode/
**/build/
**/raylib/
hot/
**/ols.json
todo/
2D/games/life/settings.json
3D/models/fbx/deps
audio/bass/libbass.dylib
audio/openal/libopenal.1.dylib
audio/openal/al/openal-soft
2D/physics/box2D/odin-raylib-box2d